@import "../../theme.scss";

.Figure {
  width: 100%;
  height: 230px;
  margin-bottom: 24px;

  &-Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and ($mobileLarge) {
    height: 300px;
  }

  @media screen and ($tablet) {
    height: 230px;
    width: 400px;
  }

  @media screen and ($desktop) {
    height: 350px;
    width: 600px;
  }

  @media screen and ($desktopLarge) {
    height: 450px;
    width: 800px;
  }
}
