@import "../../theme.scss";

.Event-Info {
  font-size: 14px;

  @media screen and ($tablet) {
    font-size: 14px;
    width: 400px;
  }

  @media screen and ($desktop) {
    font-size: 16px;
    width: 600px;
  }

  @media screen and ($desktopLarge) {
    font-size: 16px;
    width: 800px;
  }
}
