@import "../../theme.scss";

.Flex {
  @media screen and ($tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and ($desktop) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and ($desktopLarge) {
    display: flex;
    justify-content: space-between;
  }
}
